
    <div id="navigation">
        <ul>
            <li>
                <a href="/pricelist-management.php" title="Add and modify products in the price list/catalogue">Manage Price List</a>
            </li>
            <li>
                <a href="/shop.php" title="Manage your cart and checkout">Shopping area</a>
            </li>
            <li>
                <a href="/history.php" title="List previous orders history">Manage orders</a>
            </li>
        </ul>
    </div>
    <div class="clear-fix"></div>
