
    <div id="navigation">
        <ul>
            <li>
                <a href="/?mode=manage_price_list" title="Add and modify products in the price list/catalogue">Manage Price List</a>
            </li>
            <li>
                <a href="/?mode=shopping" title="Manage your cart and checkout">Shopping mode</a>
            </li>
            <li>
                <a href="/?mode=manage_orders" title="Manage current or list previous orders ">Manage orders</a>
            </li>
        </ul>
    </div>
