/* GLOABAL */
html, body, * {
    background-color: whitesmoke;
    box-sizing: border-box;
    font-family: monospace;
    font-size: max(1.35vw,9pt);
    text-align: left;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    text-align: center;
}
h1 {font-size: 175%;}
h2 {font-size: 150%;}
h3 {font-size: 140%;}
h4 {font-size: 130%;}
h5 {font-size: 120%;}
h6 {font-size: 105%;}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    background-color: aliceblue;
    width: 50%;
    margin: auto;
    padding: 1.5em;
    border: 0pt dotted red;
    border-radius: 2vw;
}
form, form > * {
    text-align: center;
}

ul {
    list-style-type: none;
}

label,
input,
select {
    background-color: inherit;
    display: inline;
    font-size: 95%;
    width: 9em;
    margin: 1vw;
    border-radius: 8px;
}
label {
    width: 45em;
}
input.button {
    background-color: rgb(134,134,211);
}
input:focus,
select:focus {
    background-color: rgba(244, 244, 24, 0.8);
}

option:focus {
    color: blue;
}
/* GLOABAL  ENDS */

/* Table styles */
table {
    width: 80%;
    max-width: 900px !important;
    margin: auto;
}
table, tr, th, td {
    border: 1px solid green;
    border-collapse: collapse;
    text-align: center;
    padding: 2pt;
}

table form {
   width: 20em;
}
table form button {
    padding: 4px 16pt;
    margin: 0 10pt;
    border-radius: 12px;
    background-color: aquamarine;
}
tr.incart {
    color: black;
}
tr.removed, tr.removed > * {
    color: lightgrey;
}
/* Table styles end */





/* PRICE LIST STYLING */
ol.pricelist li {
    margin-top: 1px;
    padding: 2vw;
    background-color: transparent;
}
li span {display: block;}
span.image {
    width: 40px;
    height: auto;
    border: 1px solid;
}
span.name {
    font-weight: 600;
    text-align: center;
}
span.price {
    color: blue;
    text-align: right;
}
span.order {
    margin: 1em;
}
span.button {
    width: 10em;
    text-align: right;
}
span.button button {
    background-color: #006600;
    color: white;
    padding: 0.5vw;
    border-radius: 2vw;
}
span.availability {
    color: red;
    text-align: right;
}
span.description {
    text-align: left;
}


/* <span class="image"><img src="/media/img/random.png" alt="no image available"></span>
        <span class="name">SDD 8TB</span>
        <span class="price">&dollar;482</span>
        <span class="order">
            <span class="button">
                <input type="hidden" name="action" value="add_to_cart">
                    <button type="submit" name="id" value="ProdNu63cbd2f5f3a165.94255838">Add to cart</button>
            </span>
            <span class="availability">In stock</span>
        </span>
        <span class="description">8 TB solid state drive</span>
        <span style="clear: both"></span> */
/* PRICE LIST STYLING ENDS */


/* FOOTER STYLING */
.footer {
    width: 98%;
    font-size: 85%;
    color: rgb(32,32,144);
    margin: 8pt;
}
.footer > * {
    width: 100%;
    text-align: right;
}
/* FOOTER STYLING ENDS */


/* MESSAGES STYLING */

.message {
    width: 60%;
    max-width: 50em;
    margin: 3pt auto;
    border: 1px solid;
    border-radius: 12px;
    padding: 1.25ex;
    text-align: center;
    box-sizing: content-box;
    font-family: sans-serif;
    font-weight: 600;
}
.error {
    background-color: #ffbbbb;
    color: #c00;
}
.success {
    background-color: #a9ffa9;
    color: #060;
}
.welcome {
    background-color: #e6e6ff;
    color: #000022;
}

.failure {
    background-color: #ffaaaa;
    color: #660000;
}
.warning {
    background-color: #ffd9d9;
    color: #300;
}

.general {
    background-color: #ffff66;
    color: #333;
}
.unspecified {
    color:  #000;
}

.info {
    background-color: #88e6e6;
    color: #333388;
}
/* MESSAGES STYLING ENDS